<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.13.8" targetFramework="net48" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net48" />
  <package id="MaterialDesignColors" version="1.2.7-ci1779" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="3.2.0-ci1779" targetFramework="net48" />
  <package id="Microsoft.UI.Xaml" version="2.5.0-prerelease.200708003" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
</packages>